<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Автомобили</title>
</head>
<body>
<h1>Автомобиль</h1>
{% for car in car_items %}
    <h2>
        {{ car.name_car }}
        {{ car.name_producer }}
        {{ car.year_start }}
        {{ car.name_end }}

    </h2>
<a href="{% url 'cars-delete' car.id %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'cars-update' car.id %}" class="btn btn-danger">Редактировать</a>
{% endfor %}
</body>
</html>