<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страны</title>
</head>
<body>
<h1>Страны</h1>
{% for country in country_items %}
    <h2>
        {{ country.name_country }}
    </h2>
<a href="{% url 'countries-delete' country.id %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'countries-update' country.id %}" class="btn btn-danger">Редактировать</a>
{% endfor %}
</body>
</html>