<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Производители</title>
</head>
<body>
<h1>Производители</h1>
{% for producer in producer_items %}
    <h2>
        {{ producer.name_producer }}
        {{ producer.name_country }}
    </h2>
<a href="{% url 'producers-delete' producer.id %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'producers-update' producer.id %}" class="btn btn-danger">Редактировать</a>
{% endfor %}
</body>
</html>